
.gradient-text {
    color: transparent;
    background: conic-gradient(
         
        #9b2226 12%, #ae2012 33%, 
        #005f73 3%, #005f73 38%, 
        #ca6702 55%, #ca6702 70%, 
        #e9d8a6 30%, #9b2226 27%, 
        #001219 2%,#ee9b00 12%);
  
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;
  
    animation: expand-rev 5s ease forwards;
    animation-iteration-count: infinite;
  
    cursor: pointer;
  }
  
 
  @keyframes expand {
    
  }
  
  @keyframes expand-rev {
    0% {
      background-size: 325%;
      background-position: -10em -4em;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    40% {
      background-size: 50%;
      background-position: 0 0;
    }
    60% {
      background-size: 50%;
      background-position: 0 0;
    }
    80% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 325%;
      background-position: -10em -4em;
    }
  }